{% extends 'frontend/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.3/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.4/components/blogs/blog-5/assets/css/blog-5.css">
<!-- Blog 5 - Bootstrap Brain Component -->
 <style>
    .fixed-image {
    width: 400px;
    height: 250px;
    object-fit: cover; /* Untuk memastikan gambar mengisi area tanpa distorsi */
}
 </style>
<main id="main">
    <br><br><br>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-9">
                <!-- Post content-->
                <article>
                    <!-- Post header-->
                    <header class="mb-4">
                        <!-- Post title-->
                        <h1 class="fw-bolder mb-1"
                            style="font-family: 'Manrope', sans-serif; text-transform: capitalize; font-weight: 700;">
                            {{ article.title }}</h1>
                        <!-- Post meta content-->
                        <div class="text-muted fst-italic mb-2">
                            Ditulis pada {{ article.created_at|date:"F d, Y" }} oleh {{ article.author.username }}
                        </div>
                        <!-- Post categories-->
                        {% for category in article.categories.all %}
                        <a class="badge bg-secondary text-decoration-none link-light me-1" href="#!">
                            {{ category.name }}
                        </a>
                        {% endfor %}
                    </header>

                    <!-- Preview image figure-->
                    {% if article.featured_image %}
                    <figure>
                        <img class="img-fluid rounded" width="1000" height="800" src="{{ article.featured_image.url }}"
                            alt="{{ article.title }}" />
                    </figure>
                    {% endif %}

                    <!-- Post content-->
                    <section style="text-align: justify;font-family: 'Manrope', sans-serif; font-size: 16px;">
                        {{ article.content|safe }}
                    </section>
                    {% if related_articles %}
                    <div class="container-fluid">
                        <h2 style="text-align: justify;font-family: 'Manrope', sans-serif; font-size: 32px; font-weight: 700;">Berita Terkait</h2>
                        <div class="row row-cols-1 row-cols-md-3 mt-5">
                            {% for article in related_articles %}
                            <div class="col">
                                <article>
                                    <div class="card border-0 bg-transparent h-100">
                                        <figure class="card-img-top mb-4 overflow-hidden bsb-overlay-hover">
                                            <a href="{% url 'detail' pk=article.pk %}">
                                                {% if article.featured_image %}
                                                <img class="img-fluid bsb-scale bsb-hover-scale-up rounded" loading="lazy"
                                                     src="{{ article.featured_image.url }}" alt="{{ article.title }}"
                                                     style="width: 400px; height: 250px; object-fit: cover;">
                                                {% else %}
                                                <img class="img-fluid bsb-scale bsb-hover-scale-up rounded" loading="lazy"
                                                     src="./assets/img/placeholder.jpg" alt="Placeholder"
                                                     style="width: 400px; height: 250px; object-fit: cover;">
                                                {% endif %}
                                            </a>
                                            <figcaption>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-eye text-white bsb-hover-fadeInLeft" viewBox="0 0 16 16">
                                                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                                                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                                                  </svg>
                                                  <h4 class="h6 text-white bsb-hover-fadeInRight mt-2">Baca Selengkapnya</h4>
                                                </figcaption>
                                        </figure>
                                        <div class="card-body m-0 p-0">
                                            <div class="entry-header mb-3">
                                                <ul class="entry-meta list-unstyled d-flex mb-3">
                                                    {% for category in kategori %}
                                                    <li class="me-2 mb-2">
                                                        <a class="btn btn-secondary" href="#">{{ category.name }}</a>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                                <h2 class="card-title entry-title h4 m-0">
                                                    <a class="link-dark text-decoration-none" href="{% url 'detail' pk=article.pk %}">{{article.content|safe|slice:":150"|striptags }}...</a>
                                                </h2>
                                            </div>
                                        </div>
                                        <div class="card-footer border-0 bg-transparent p-0 m-0">
                                            <ul class="entry-meta list-unstyled d-flex align-items-center m-0">
                                                <li>
                                                    <a class="fs-7 link-secondary text-decoration-none d-flex align-items-center"
                                                        href="#">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14"
                                                            fill="currentColor" class="bi bi-calendar3" viewBox="0 0 16 16">
                                                            <path
                                                                d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z" />
                                                            <path
                                                                d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                                                        </svg>
                                                        <span class="ms-2 fs-7">Tanggal</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <span class="px-3">{{article.created_at}}</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% else %}
                    <div class="container-fluid">
                        <h2 style="text-align: justify;font-family: 'Manrope', sans-serif; font-size: 16px; font-weight: 500;">Tidak ada Berita Terkait</h2>
                    </div>
                    {% endif %}
                </article>
            </div>
            <!-- Side widgets-->
            <div class="col-lg-3">
                <!-- Search widget-->
                <div class="card">
                    <div class="card-header">
                        <h3 style="font-family: 'Manrope', sans-serif; font-size: 24px; font-weight: 700;">
                            Berita Terbaru
                        </h3>
                    </div>
                    <ul class="list-group list-group-flush" style="font-family: 'Manrope', sans-serif; ">
                        {% for article in new_artikel %}
                        <li class="list-group-item mt-4">
                            <h6 class="card-title"><a href="{% url 'detail' article.pk %}" class="text-decoration-none text-dark">{{article.title}}</a></h6>
                            <p class="card-text"><small class="text-muted">{{article.created_at}}</small></p>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <br>

                <!-- Categories widget-->
                <div class="card mb-5">
                    <div class="card-header">
                        <h3 style="font-family: 'Manrope', sans-serif; font-size: 24px; font-weight: 700;">
                            Kategori
                        </h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="list-unstyled mb-0 d-flex flex-wrap">
                                    {% for category in kategori %}
                                        <li class="me-2 mb-2">
                                            <a class="btn btn-secondary" href="#">{{ category.name }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>
<br><br><br>
{% endblock %}