{% extends 'administration/base.html' %}
{% block content %}
<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"> Edit Data Ekstrakulikuler </h4>
        <div class="card">
            <div class="card-header">
                <form class="form form-vertical" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label class="form-label">Ekstrakulikuler</label>
                            <input class="form-control" type="text" name="nama_ekstra" value="{{data.nama_ekstra}}" />
                        </div>
                        <div class="mb-3 col-md-6">
                            <label class="form-label">Deskripsi</label>
                            <input class="form-control" type="text" name="desc" value="{{data.desc}}" />
                        </div>
                        <div class="mb-3 col-md-6">
                            <label class="form-label">Icon</label>
                            <input class="form-control" type="text" name="icon" value="{{data.icon}}" />
                        </div>
                    </div>
                    <br>
                    <div class="col-12 d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary me-1 mb-1">Simpan</button>
                        <button type="reset" class="btn btn-secondary me-1 mb-1">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}