{% extends 'base.html' %}
{% block content %}
<div id="main">
    <header class="mb-3">
        <a href="#" class="burger-btn d-block d-xl-none">
            <i class="bi bi-justify fs-3"></i>
        </a>
    </header>
    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>Data Customer</h3>
                </div>
                <div class="col-12 col-md-6 order-md-2 order-first">
                    <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page">DataTable</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <section class="section">
            <div class="card">
                <div class="card-header">
                    <a type="button" href="{% url 'create_customer' %}" style="float: right;" class="btn btn-primary mb-4 rounded-pill">
                        <span><span>&#43;</span><b>Tambah Data</b></span>
                    </a>
                </div>
                <div class="card-body">
                    <table class="table table-striped" id="table1">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>Nama Suplayer</th>
                                <th>Nomer Telepon</th>
                                <th>Alamat</th>
                                <th>Tanggal Dibuat</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for d in data %}
                            <tr>
                                <td>{{d.id}}</td>
                                <td>{{d.name}}</td>
                                <td>{{d.phone}}</td>
                                <td>{{d.address}}</td>
                                <td>{{d.date}}</td>
                                <td>
                                    <a type="button" class="btn btn-primary" href="{{d.id}}/detail/">Detail</a>
                                    <a type="button" class="btn btn-warning" href="{{d.id}}/update/">Update</a>
                                    <a type="button" class="btn btn-danger" href="{{d.id}}/delete/">Delete</a>
                                </td>
                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>

{% endblock %}